.RightSide {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
    .RightSide{
        text-align: center;
    }
    h3{
        margin-top: 30px;
    }
}